#inicio {
	overflow: hidden;
}

.block--grid {
	margin: 100px auto 0;
	background-color: lightgray;
	width: 90%;
	overflow: auto;
	height: 900px;
	max-height: 900px;
	position: relative;

	.img--min {
		position: relative;
	    width: calc(100% / 7);
	    height: 28%;
		float: left;
		margin: 18px;

		img {
			transition: all .5s linear;
			position: absolute;
			width: 100%;
			z-index: 9;
		}
	}
}


// img:hover {
// 	transition: all .5s linear;
// 	width: 200%;
// 	position: absolute;
// 	z-index: 10;
// }

@include media('min-tablet') {}

@include media('tablet') {}

@include media('desktop') {}

@include media('desktop-large') {}