* {
    font-family: 'Open Sans', sans-serif!important;
}

html {
    height: 100%;
}

body {
    &.isMobile {
        &.landscape {
            background-color: $color-white !important;

            * {
                display: none !important;
            }

            &::after {
                content: '';
                display: block;
                background-image: url('../img/rotate.png');
                background-size: 100%;
                width: 50vh;
                height: 50vh;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -25vh;
            }
        }
    }
}

strong {
	font-weight: bold;
}

em {
    font-style: italic;
}

.inner {
    padding: 0 5%;
}

@include scrollbars(10px, darken($primary, 10));
