// Colors:
$primary    	  : #000;
$white      	  : #fff;
$color-1          : #fd312b;
$color-2          : #5b2fa7;
$color-3          : #4cdcb0;
$color-4          : #0f55af;
$color-light-gray : #a1a1a1;
$color-white-gray : #c9cdcf;
$color-dark-gray  : #7f8283;
$color-gray       : #363636;
$color-white      : #ffffff;
$color-real-black : #000;
$color-black      : #1a1a1a;
$color-red        : #fd312b;
$color-green      : #40bb1a;
$color-orange     : #ff9127;