header {
	width: 20vw;
	position: fixed;
	float: left;
	overflow: hidden;

	@include respond-to(small) {
		width: 100vw;
		position: relative;
	}

	.page,
	.date {
		display: none;
	}

	label {
		font-size: 1.2rem;
		display: block;
		margin: 20px;
		position: relative;

		select,
		input {
			font-size: 1rem;
			border: transparent;
			background-color: lighten($color-white-gray, 12);
			height: 70px;
			width: 150px;
			display: block;

			@include respond-to(small) {
				height: 20px;
			}
		}
	}
}
